
.body-banner {
  height: 515px;
  overflow: hidden;
}

.body-banner img {
  height: 820px;
  margin-top: 37px;
}

.card-container {
  position: relative;
  overflow: hidden;
  max-width: 280px;
  height: 405px;
  margin-bottom: 57px;
}

.card-container img {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  height: 110%;
}

.card-container .c-btn {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  width: 140px;
  height: 40px;
  background-color: #ffa15f;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
}


.category-title {
  position: relative;
  width: 75%;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-bottom: #eaeaea 1px solid;
}

.body-card{
  justify-content: space-between;
  margin-top: 40px;
}

.category-title p{
  font-size: 24px;
  color: white;
  margin-bottom: 0.5rem;
}

.card-container button:hover {
  background-color:white;
  color:  #ffa15f;
}
