<div class="body-container">

  <div class="body-banner">
    <img src="https://lh3.google.com/u/2/d/1wgYUW-C3AGe5Tdv7yi_fxz6OicakZpeb=w2856-h1906-iv1">
  </div>

  <div class="row body-card">
    <div class="card-container col-xs-12 col-md-6 col-xl-3" *ngFor="let category of categories$">
      <img src="{{category.img_url}}">
      <div class="category-title">
        <p>{{category.name}}</p>
      </div>
      <button class="c-btn">SHOP NOW</button>
    </div>
  </div>

</div>
