.footer-container {
  height: 185px;
  border-top: 1px #eaeaea solid;
  padding: 0 200px;
  display: flex;
  flex-direction: column;
}

.footer-container a, span{
  color: #b7b7b7;
  font-size: 12px;
}

.footer-container a:hover{
  color: #ffa15f;
}

.footer-left img {
  height: 20px;
}

.footer-right img {
  height: 24px;
  margin-left: 10px;
}

.footer-group {
  border-bottom: 1px #eaeaea solid;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.policy-section a{
  margin-left: 20px;
}

.footer-group a{
  margin: 0 10px;
}
