<div class="footer-container">

  <div class="row footer-group">
    <div class="footer-left">
      <img src="../../assets/img/aware-logo.png">
    </div>

    <div class="footer-center">
      <nav class="navbar navbar-expand-lg">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PRODUCTS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">SERVICES</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">ABOUT US</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HELP</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">CONTACTS</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer-right">
        <img src="https://cdn.zeplin.io/5b6ac209f0ecb351f6ab6687/assets/4C734B07-0F99-4340-9C85-B06F736A5E2B.png">
        <img src="https://cdn.zeplin.io/5b6ac209f0ecb351f6ab6687/assets/0D00D34E-9BE2-47C4-BE2C-EE4A3F7F8B5A.png">
        <img src="https://cdn.zeplin.io/5b6ac209f0ecb351f6ab6687/assets/09E28AE9-918E-4618-840C-C7A4BDA220C3.png">
    </div>
  </div>
<div class="copyright-section">
  <span>Copyright © 2018 Designveloper.com</span>
  <div class="policy-section">
    <a>Privacy Policy</a>
    <a>Terms & Conditions</a>
  </div>
  </div>
</div>
