<div class="nav-container nav-flex">
  <nav class="navbar navbar-expand-lg ">

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown" *ngFor="let category of categories$">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{ category.name }}
          </a>
          <div class="dropdown-menu sub-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" *ngFor="let sub of category.subs"  routerLink="/{{category.name.toLowerCase()}}/{{sub.name.toLowerCase()}}">{{sub.name}}</a>
        </div>
        </li>

      </ul>

    </div>
  </nav>
</div>
