.nav-container {
  height: 45px;
  border-bottom: 1px #eaeaea solid;
  border-top: 1px #eaeaea solid;
}

.nav-container a {
  color: #202124;
}

.navbar {
  padding: 0;
}

.nav-flex {
  display: flex;
  justify-content: center;
}

.nav-flex a {
  font-size: 14px;
  padding: 15px;
}

.sub-menu {
  display: none;
  top: 48px;
}

li.dropdown:hover .sub-menu {
  display: flex;
  left: -200px;
}

.nav-item.dropdown>a {
  margin: 0 10px;
}

.dropdown-menu {
  padding: 0;
  border-radius: 0;
  border: solid 0.5px #eaeaea;
}
