.logo {
  width: 96px;
  height: 20px;
  object-fit: contain;
}

.rectangle-2 {
  width: 181px;
  height: 35px;
  border-radius: 17px;
  border: solid 1px #b7b7b7;
}

.header-btn {
  width: 120px;
  height: 35px;
  border-radius: 20px;
  border: solid 1px #ffa15f;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ffa15f;
  margin: 0 24px;
}


.header-container {
  justify-content: center;
  align-items: center;
  height: 70px;
}

.header-container a {
  line-height: 0;
  color: #202124;
}

.header-container a:hover{
  color: #ffa15f;
}

.left-group {
  align-items: center;
}

.search-input {
  background: url(./../../../../assets/img/search-icon.png) no-repeat scroll 7px 7px;
  background-size: 24px;
  background-position: 90%;
  text-align: right;
  padding-right: 45px;
}

.search-input::placeholder {
  color: #cccccc;
  font-size: 14px;
  text-align: left;
  padding-left: 15px
}

.left-group button:hover{
  background-color: #ffa15f;
  color: white;
}

