<div class="row header-container">
  <div class="col-4">
    <input class="rectangle-2 search-input" placeholder="Search">

  </div>
  <div class="col-4">
    <a routerLink="/"><img src="./../../../assets/img/aware-logo.png" class="logo"></a>
  </div>
  <div class="row col-4 left-group">
    <a routerLink="">Register</a>

    <button type="button" class="btn header-btn">Log In</button>

    <a routerLink="">
      <i class="material-icons">shopping_cart</i>
    </a>
  </div>
</div>
