<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <app-header></app-header>

  <div class="padding-200">
    <router-outlet></router-outlet>
  </div>

  <app-footer></app-footer>
</div>
