<div class="products-container ">
    <div class="dropdown sort-dropdown">
        <button class="btn dropdown-toggle" type="button"  data-toggle="dropdown">
          Sort by:
        </button>
        <div class="dropdown-menu sort-menu" >
          <a class="dropdown-item" href="#">Name: A - Z</a>
          <a class="dropdown-item" href="#">Price: lowest to highest</a>
          <a class="dropdown-item" href="#">Price: highest to lowest</a>
        </div>
      </div>

  <div class="row">
    <div *ngFor="let product of products$" class="col-3 product-card">
      <div>
        <a routerLink="">
          <img src={{product.img_url}}>
        </a>
      </div>
      <div>
        <a routerLink="">{{product.name}}</a>
      </div>
      <small>${{product.price.toFixed(2)}}</small>
    </div>
  </div>
</div>
