.products-container img {
  width: 200px;
}

.products-container a {
  font-size: 14px;
  margin-top: 10px;
  color: #202124;
}

.products-container small {
  color: #4d4d4d;
  font-size: 12px;
}

.product-card {
  margin-bottom: 20px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.sort-dropdown {
  text-align: left;
  margin-left: 30px;
  width: 200px;
  margin-bottom: 15px;
}

.sort-dropdown button {
  width: 100%;
  text-align: left;
  border: 0.5px #b7b7b7 solid;
  border-radius: 0;
  font-size: 12px;
  font-weight: bold;
}

.sort-menu a {
  font-size: 12px;
}

.sort-menu {
  margin-top: 0;
  width: 100%;
}
