.side-filter-section a, button {
  color: #4d4d4d;
  font-size: 14px;
}

.side-filter-section ul, button {
  padding-left: 0;
}

.product-types-section, .attribute-section {
  padding-left: 0;
  padding-bottom: 55px;
}

.side-filter-section p {
  text-align: left;
  font-weight: bold;
  font-size: 16px;
}

.product-types-section a:hover {
  color: #ffa15f;
}

.side-filter-section {
  text-align: left;
}

.attribute-section button:hover {
  color: #ffa15f;
}

.size-btn {
  border: 1px black solid;
  height: 40px;
  width: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.size-btn:hover {
  background-color: #ffa15f;
  border-color: #ffa15f;
}

.size-btn:hover a {
  color: white;
}

.filter-title::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.size-btn-group {
  margin-bottom: 20px;
}

.filter-group {
  border-bottom: 0.5px #cccccc solid;
}

.filter-title {
  margin-bottom: 10px;
}

.circle-shape {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  cursor: pointer;
  margin: 0 10px 10px 0;
}

.black-color {
  background-color: black;
}

.white-color {
  background-color: white;
  border: #cccccc 1px solid;
}

.red-color {
  background-color: rgb(170, 46, 46);
}

.grey-color {
  background-color: rgb(114, 113, 113);
}

.green-color {
  background-color: rgb(92, 133, 92);
}

.yellow-color {
  background-color: rgb(221, 221, 61);
}

.brown-color {
  background-color: rgb(97, 44, 44);
}

.color-group {
  display: flex;
}

.brand-group {
  margin-bottom: 10px;
}

.brand-group label {
  margin-left: 5px;
}

.price-slider {
  -webkit-appearance: none;
  background-color: #ffc371;
  height: 3px;
  width: 100%;

}
.price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffa15f;
  cursor: pointer;
  border-radius: 10px;
}

.price-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffa15f;
  cursor: pointer;
  border-radius: 10px;
}

.price-label{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.price-label small {
  color: #4d4d4d;
}
