<div class="side-filter-section">
  <div class="product-types-section">
    <p>Category</p>
    <ul *ngFor="let productType of productTypes$">
      <li>
        <a routerLink="">{{productType.name}}</a>
      </li>
    </ul>
  </div>

  <div class="attribute-section">
    <p>Filter</p>

    <div class="filter-group">
      <div>
        <button class="btn filter-title" type="button" data-toggle="collapse" data-target="#collapseSize" aria-expanded="false" aria-controls="collapseExample">
          Size
        </button>
      </div>

      <div class="collapse size-btn-group" id="collapseSize">
        <div class="size-btn">
          <a routerLink="">S</a>
        </div>

        <div class="size-btn">
          <a routerLink="">M</a>
        </div>

        <div class="size-btn">
          <a routerLink="">L</a>
        </div>
      </div>
    </div>

    <div class="filter-group">
      <div>
        <button class="btn filter-title" type="button" data-toggle="collapse" data-target="#collapseColor" aria-expanded="false"
          aria-controls="collapseExample">
          Color
        </button>
      </div>

      <div class="collapse" id="collapseColor">
        <div class="color-group">
          <div class="row">
            <div class="circle-shape black-color"></div>
            <div class="circle-shape white-color"></div>
            <div class="circle-shape grey-color"></div>
            <div class="circle-shape red-color"></div>
            <div class="circle-shape yellow-color"></div>
            <div class="circle-shape brown-color"></div>
            <div class="circle-shape green-color"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="filter-group">
      <div>
        <button class="btn filter-title" type="button" data-toggle="collapse" data-target="#collapseBrand" aria-expanded="false"
          aria-controls="collapseExample">
          Brand
        </button>
      </div>

      <div class="collapse " id="collapseBrand">
        <div class="form-check brand-group">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="form-check-label" for="defaultCheck1">
            Mango
          </label>
        </div>
        <div class="form-check brand-group">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
          <label class="form-check-label" for="defaultCheck2">
            Zara
          </label>
        </div>
      </div>
    </div>

    <div class="filter-group">
      <div>
        <button class="btn filter-title" type="button" data-toggle="collapse" data-target="#collapsePrice" aria-expanded="false"
          aria-controls="collapseExample">
          Price
        </button>
      </div>

      <div class="collapse " id="collapsePrice">
        <input type="range" min="1" max="300" value="150" class="price-slider">
        <div class="price-label">
          <small>$0</small>
          <small>$300</small>
        </div>
      </div>
    </div>

  </div>


</div>
