
textarea:focus, input:focus, button:focus{
  outline: none!important;
  box-shadow: none!important;
}

.margin-vertical{
  margin: 0 130px;
}

body a {
  text-decoration: none!important;
}

body ul{
  list-style-type: none!important;
}

.row {
  margin-left: 0!important;
  margin-right: 0!important;

}

body {
  line-height: 0;
}
